<div class="navbar">
  <span class="navbar-text"><%= link_to "Courses", root_path, class: "nav-text" %></span>
</div>
<div class="body-content">
  <div class="container">
    <h2><%= @chapter.name %></h2>
    <% @sections.each do |section| %>
      <h3><%= link_to section.name, section_lessons_path(section), class: "section"%></h3>
    <% end %>
  </div>
</div>
