<div class="navbar">
  <span class="navbar-text"><%= link_to "Courses", root_path, class: "nav-text" %></span>
</div>
<div class="body-content">
  <div class="container">
    <h3><%= @lesson.name %></h3>
    <h3><%= @section.name %></h3>

    <h5><%= link_to "Return to section", section_lessons_path(@section), class: "section" %> </h5>
  </div>
</div>
